Repository HugoGresse/open-feedback, pull requests merged in 2020-02, with the labels that each got.

#400 Storybook + React script bump
  .storybook/main.js
  .storybook/manager.js
  .storybook/theme.js
  docs/app/code-of-conduct.stories.mdx
  docs/app/contributing.mdx
  docs/app/contributing.stories.mdx
  docs/app/home.mdx
  docs/app/home.stories.mdx
  docs/app/install.stories.mdx
  docs/app/license.mdx
  docs/app/license.stories.mdx
  doczrc.js
  package-lock.json
  package.json
  src/admin/auth/EmailNotVerified.js
  src/admin/baseComponents/button/OFButton.js
  src/admin/baseComponents/button/OFButton.stories.js
  src/admin/baseComponents/form/autoComplete/OFAutoComplete.js
  src/admin/baseComponents/form/autoComplete/OFAutoComplete.stories.js
  src/admin/baseComponents/form/autoComplete/Tag.js
  src/admin/baseComponents/form/dateTimePicker/OFDateTimePicker.js
  src/admin/baseComponents/form/dateTimePicker/OFDateTimePicker.stories.js
  src/admin/baseComponents/form/dateTimePicker/OFInputForDateTimePicker.js
  src/admin/baseComponents/form/formControl/OFFormControl.js
  src/admin/baseComponents/form/formControl/OFFormControl.stories.js
  src/admin/baseComponents/form/formControl/OFFormControlInputFormiked.js
  src/admin/baseComponents/form/formik/FormikObserver.js
  src/admin/baseComponents/form/input/OFInput.js
  src/admin/baseComponents/form/input/OFInput.stories.js
  src/admin/baseComponents/form/radioButton/OFRadioButton.js
  src/admin/baseComponents/form/radioButton/OFRadioButton.stories.js
  src/admin/baseComponents/form/radioButton/RadioButtonGroup.js
  src/admin/baseComponents/form/switch/OFSwitch.js
  src/admin/baseComponents/form/switch/OFSwitch.stories.js
  src/admin/baseComponents/form/textarea/OFTextArea.js
  src/admin/baseComponents/form/textarea/OFTextArea.stories.js
  src/admin/baseComponents/layouts/OFListHeader.js
  src/admin/project/layout/QRCodeDialog.js
  src/admin/project/new/Step1.js
  src/admin/project/new/Step1.projectIdChange.js
  src/admin/project/new/Step2.js
  src/admin/project/settings/event/ProjectSettingsForm.js
  src/admin/project/settings/setup/DeleteProject.js
  src/admin/project/settings/users/UserInvitePanel.js
  src/admin/project/settings/votingForm/VoteItem.js
  src/admin/project/setupTypeForms/SetupHoverboardv2Form.js
  src/admin/project/setupTypeForms/SetupJSONForm.js
  src/admin/project/setupTypeForms/validation/SetupValidation.js
  src/admin/project/speakers/SpeakerAddEditPanel.js
  src/admin/project/talks/TalkAddEditPanel.js
  src/baseComponents/customComponent/ErrorBoundary.js
Labels: dependencies, tech

#401 Marketing Website: small redesign of the FAQ
  src/root/FAQ.js
  src/root/translations/fr/fr.json
Labels: enhancement

#408 Admin: voting form reset + fix bug
  src/admin/project/core/projectActions.js
  src/admin/project/layout/BottomActionLayout.js
  src/admin/project/new/NewProject.js
  src/admin/project/settings/setup/DeleteProject.js
  src/admin/project/settings/votingForm/VotingForm.js
  src/admin/project/settings/votingForm/VotingFormFooter.js
  src/admin/project/settings/votingForm/VotingFormOptions.js
  src/admin/project/settings/votingForm/votingFormActionTypes.js
  src/admin/project/settings/votingForm/votingFormActions.js
  src/admin/project/settings/votingForm/votingFormReducer.js
  src/admin/translations/languages/en/en.json
  src/admin/translations/languages/fr/fr.json
  src/utils/sleep.js
Labels: admin, bug, enhancement

#419 Update installation docs
  docs/app/install.stories.mdx
Labels: tech

#421 French lang fixes + redirect fix on admin
  src/admin/project/Project.js
  src/admin/project/core/projectActions.js
  src/admin/project/new/NewProject.js
  src/admin/project/settings/votingForm/VotingFormOptions.js
  src/admin/project/settings/votingForm/votingFormActions.js
  src/admin/translations/languages/en/en.json
  src/admin/translations/languages/fr/fr.json
  src/root/translations/fr/fr.json
Labels: admin, bug

#427 Fix project deletion not deleting sub-collections
  functions/package-lock.json
  functions/package.json
  functions/src/callable/alert.ts
  functions/src/callable/deleteProject.ts
  functions/src/index.ts
  src/admin/project/core/projectActions.js
  src/admin/project/settings/setup/DeleteProject.js
  src/admin/translations/languages/en/en.json
  src/admin/translations/languages/fr/fr.json
  src/firebase.js
Labels: admin, bug

#429 [Admin] Fix project change + change shadow
  src/admin/project/core/projectActions.js
  src/admin/project/dashboard/Dashboard.js
  src/admin/project/dashboard/dashboardActions.js
  src/admin/project/layout/Header.js
  src/admin/project/layout/ProjectLayout.js
  src/admin/project/layout/TranslateOnScroll.js
  src/admin/project/new/NewProject.js
  src/admin/project/settings/votingForm/votingFormActions.js
  src/admin/project/utils/redirectToProject.js
  src/admin/root/AdminRoot.js
  src/admin/translations/languages/en/en.json
  src/admin/translations/languages/fr/fr.json
Labels: admin, bug

#440 Small translation fix for French lang
  src/admin/translations/languages/fr/fr.json
  src/root/translations/fr/fr.json
Labels: admin

#445 [Admin] Add loader on event delete
  src/admin/project/settings/setup/DeleteProject.js
Labels: admin, bug

#446 [Admin] Clear votingForm on project unselect
  functions/package-lock.json
  src/admin/project/settings/votingForm/votingFormReducer.js
Labels: admin, bug

#449 Allow read on sessionVotes to load only votes of one session
  config/firestore.rules
Labels: enhancement

#466 [Admin] Comment moderation
  config/firestore.indexes.json
  config/firestore.rules
  src/admin/RoutingMap.js
  src/admin/adminReducer.js
  src/admin/baseComponents/button/OFButton.js
  src/admin/baseComponents/button/OFButton.stories.js
  src/admin/baseComponents/layouts/CollapsePanel.js
  src/admin/baseComponents/layouts/CollapsePanel.stories.js
  src/admin/baseComponents/layouts/OFListHeader.js
  src/admin/baseComponents/layouts/OFPagination.js
  src/admin/baseComponents/layouts/OFPagination.stories.js
  src/admin/baseComponents/layouts/SimpleDialog.js
  src/admin/baseComponents/layouts/SimpleDialog.stories.js
  src/admin/project/Project.js
  src/admin/project/ProjectApp.js
  src/admin/project/layout/SideBar.js
  src/admin/project/moderation/Moderation.js
  src/admin/project/moderation/TalkList.js
  src/admin/project/moderation/TalkListItem.js
  src/admin/project/moderation/TextVoteItem.js
  src/admin/project/moderation/TextVoteList.js
  src/admin/project/moderation/moderationActionTypes.js
  src/admin/project/moderation/moderationActions.js
  src/admin/project/moderation/moderationReducer.js
  src/admin/project/moderation/moderationSelectors.js
  src/admin/project/talks/TalkList.js
  src/admin/translations/i18n.js
  src/admin/translations/languages/en/en.json
  src/admin/translations/languages/fr/fr.json
  src/core/contants.js
  src/core/talks/talksSelectors.js
  src/feedback/talk/TalkVoteText.js
  src/feedback/translations/languages/en/en.json
  src/feedback/translations/languages/fr/fr.json
  src/feedback/vote/voteSelectors.js
  src/utils/stringUtils.js
Labels: admin, enhancement

#475 Add Android SDK to the Readme
  README.md
Labels: enhancement
